---
layout: default
title: Actlist plugins
permalink: /plugins/
sectionid: plugins
---

<div class="container">
    <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-11 col-xs-offset-1">
        {% include plugins_nav.html %}
    </div>
    <div class="visible-xs col-xs-12 col-xs-offset-0"><hr/></div>
    <div class="col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
        {% assign plugins = site.plugins | sort: "date" | reverse %}
        {% for plugin in plugins %}
        <div class="row" style="border-bottom-style: solid; border-bottom-color: #ecebeb; border-bottom-width: 1px;">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h5>
                    <strong><a href="{{ plugin.url | prepend: site.baseurl }}">{{ plugin.title }}</a></strong>
                    {% if plugin.lock %}<span style="font-size: 0.8em; color: #4e4e4e;"><i class="fa fa-lock"></i></span>{% endif %}
                </h5>
                <p>
                    {% if plugin.excerpt %}
                    {% if plugin.excerpt.size >= 300 %}
                    <span>{{ plugin.excerpt | slice: 0,300 }}</span><a href="{{ plugin.url | prepend: site.baseurl }}"> ...more</a>
                    {% else %}
                    <span>{{ plugin.excerpt }}</span>
                    {% endif %}
                    {% endif %}
                </p>
                <span>{% if plugin.author %}<i class="fa fa-user"></i> {{ plugin.author }}{% endif %}</span>
                <span>{% if plugin.license_text %}<i class="fa fa-balance-scale" style="padding-left: 5px;"></i> {{ plugin.license_text }}{% endif %}</span>
                <br/>
                {% for tag in plugin.tags %}
                <code class="highlighter-rouge"><i>{{ tag | prepend: "#" }}</i></code>
                {% endfor %}
                <p/>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                {% if plugin.download and plugin.license_text %}
                {% if plugin.statistics_uuid %}
                <div class="visible-xs"><h5><a class="actlist-plugin-download" href="{{ plugin.download | prepend: site.download_statistics_api | replace: '$uuid', plugin.statistics_uuid }}" data-required-actlist="{{ plugin.required_actlist }}"><i class="fa fa-download"></i></a></h5></div>
                <div class="hidden-xs"><h5><a class="actlist-plugin-download btn btn-primary btn-sm" href="{{ plugin.download | prepend: site.download_statistics_api | replace: '$uuid', plugin.statistics_uuid }}" role="button" data-required-actlist="{{ plugin.required_actlist }}"><i class="fa fa-download"></i> Download</a></h5></div>
                {% else %}
                <div class="visible-xs"><h5><a class="actlist-plugin-download" href="{{ plugin.download | prepend: site.download_api }}" data-required-actlist="{{ plugin.required_actlist }}"><i class="fa fa-download"></i></a></h5></div>
                <div class="hidden-xs"><h5><a class="actlist-plugin-download btn btn-primary btn-sm" href="{{ plugin.download | prepend: site.download_api }}" role="button" data-required-actlist="{{ plugin.required_actlist }}"><i class="fa fa-download"></i> Download</a></h5></div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <p/>
        {% endfor %}
    </div>
</div>