<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div class="container navbar-container">
        <form class="navbar-form navbar-fixed-top" style="text-align: center; background-color: white; margin-top: 0; padding: 0px 0px 2px 0px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
            <div class="form-group has-feedback" style="display: inline-block;">
                <input id="search-box" type="text" class="form-control" placeholder="Search...">
                <i class="fa fa-search form-control-feedback"></i>
            </div>
        </form>
    </div>

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include js_files.html %}
</body>

</html>
