---
layout: default
---

<div class="container">
    <div class="col-md-4 col-sm-4 hidden-xs">
        {% include plugins_nav.html %}
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row" style="border-bottom-style: solid; border-bottom-color: #ecebeb; border-bottom-width: 1px;">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h5>
                    <strong>{{ page.title }}</strong>
                    {% if page.lock %}<span style="font-size: 0.8em; color: #4e4e4e;"><i class="fa fa-lock"></i></span>{% endif %}
                </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                {% if page.download and page.license_text %}
                <div class="visible-xs"><h5><a href="{{ page.download | prepend: site.baseurl }}"><i class="fa fa-download"></i></a></h5></div>
                <div class="hidden-xs"><h5><a class="btn btn-primary btn-sm" href="{{ page.download | prepend: site.baseurl }}" role="button"><i class="fa fa-download"></i> Download</a></h5></div>
                {% endif %}
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: -5px;">
                <div>
                    <span>{% if page.author %}<i class="fa fa-user"></i> {{ page.author }}{% endif %}</span>
                    <span>{% if page.homepage %}<i class="fa fa-home" style="padding-left: 5px;"></i><a href="{{ page.homepage | prepend: site.baseurl }}"> Homepage</a>{% endif %}</span>
                    <span>
                        {% if page.license_text %}
                        <i class="fa fa-balance-scale" style="padding-left: 5px;"></i>
                            {% if page.license_link %}
                            <a href="{{ page.license_link | prepend: site.baseurl }}"> {{ page.license_text }}</a>
                            {% else %}
                            {{ page.license_text }}
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
                <hr style="margin-top: 7px; margin-bottom: 7px;"/>
                <div>
                    {% if page.version %}<img src="https://img.shields.io/badge/version-{{ page.version | replace: ' ', '%20' | replace: '-', '--' | replace: '_', '__' }}-brightgreen.svg"/>{% endif %}
                    {% if page.actlist_require %}<img src="https://img.shields.io/badge/actlist@require-{{ page.actlist_require | replace: ' ', '%20' | replace: '-', '--' | replace: '_', '__' }}-orange.svg"/>{% endif %}
                </div>
                <br/>
                <div id="markdown-content-container">{{ content }}</div>
                <br/>
                {% for tag in page.tags %}
                <code class="highlighter-rouge"><i>{{ tag | prepend: "#" }}</i></code>
                {% endfor %}
                <p/>
            </div>
        </div>
    </div>
    <div class="visible-xs col-xs-11 col-xs-offset-1">
        {% include plugins_nav.html %}
    </div>
</div>